table {
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
    font-size: small;
}




@media print {
table {
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
    font-size: x-small;
}

th {text-align: left;}
}
ul, img 
{
  page-break-inside: avoid;
}
}